---
import { getEmail } from "@auth/email";
import { prismaClient } from "src/db";
import { isValidFormSubmission } from "src/forms/submission";

import EmailLayout from "src/layouts/EmailLayout.astro";

const emailId = Astro.params.email_id ?? "";

const handleFormSubmission = async (): Promise<Response | null> => {
	const validSubmission = isValidFormSubmission(Astro.request);
	if (!validSubmission) return null;
	await prismaClient.email.delete({
		where: {
			id: emailId
		}
	});
	return Astro.redirect("/email", 302);
};

const response = await handleFormSubmission();
if (response) return response;

const email = await getEmail(emailId);
if (!email) {
	return new Response("404 - Not found", {
		status: 404,
		statusText: "Not found"
	});
}
---

<EmailLayout>
	<div class="flex place-content-between text-sm">
		<p class="">To: {email.toAddress}</p>
		<p class="text-zinc-400">{email.dateSent.toLocaleString()}</p>
	</div>
	<h1 class="border-b py-2 text-lg font-semibold">
		{email.subject}
	</h1>
	<p set:html={email.content} class="mt-4 break-words" id="email-content" />
	<form method="post" class="mt-6">
		<input
			type="submit"
			value="Delete email"
			class="cursor-pointer text-sm text-red-400 hover:underline"
		/>
	</form>
</EmailLayout>

<style>
	:global(#email-content a) {
		@apply text-indigo-500 hover:underline;
	}
</style>
