---
import { getPage } from "@utils/content";

import MainLayout from "../layouts/MainLayout.astro";
import MarkdownStyle from "@components/MarkdownStyle.astro";

const markdown = await getPage("main");
---

<MainLayout
	title="Lucia"
	description="Lucia is a simple and flexible auth library for TypeScript"
>
	<div class="pt-16 lg:pt-8 pb-12 max-w-2xl">
		<h1 class="text-7xl font-bold">Lucia</h1>
		<p class="mb-2 text-2xl mt-2 font-medium">
			A simple and flexible auth layer between your app and your database.
		</p>
	</div>
	<MarkdownStyle>
		<markdown.Content />
	</MarkdownStyle>
</MainLayout>
