/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

body {
	@apply flex w-full flex-col place-items-center px-4 pt-8;
}
h1 {
	@apply mb-8 w-full text-3xl font-semibold;
}
h2 {
	@apply mb-2 w-full text-2xl font-semibold;
}
input {
	@apply my-1 w-full appearance-none rounded border p-1 outline-none;
}
.github,
.button,
button {
	@apply my-2 w-full cursor-pointer rounded bg-black py-1 text-center text-white hover:opacity-80;
}
.link {
	@apply my-2 text-sm text-blue-500 hover:underline;
}
label {
	@apply text-sm;
}
.github {
	@apply py-1;
}
div:not(.ignore):not(.code) {
	@apply flex w-full max-w-md flex-col place-items-center py-4;
}
form {
	@apply my-2 w-full;
}
.error {
	@apply w-full text-sm text-red-400;
}
p {
	@apply my-1 w-full;
}
p.center {
	@apply w-full text-center;
}
pre,
.code {
	@apply my-2 w-full overflow-auto rounded-md bg-zinc-900 px-4 py-2 text-gray-200;
}
