---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="mt-12 sm:mt-0 pt-36 pb-20 sm:pb-28">
        <h1 class="text-6xl md:text-7xl font-bold title">Lucia</h1>
        <p class="text-lg mt-2 mb-12">
            A simple authentication library for SvelteKit
        </p>
        <a
            class="transition px-20 py-2 max-w-fit font-semibold hover:bg-main text-white rounded-md cursor-pointer bg-main-black"
            href="/">Get started</a
        >
    </div>
    <style>
        .title {
            background: linear-gradient(60deg, #654aff, #63a7ff);
            background-size: 200% 400%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: gradient 5s linear infinite;
        }
        @keyframes gradient {
            0% {
                background-position: 0% 0%;
            }
            25% {
                background-position: 20% 100%;
            }
            50% {
                background-position: 100% 0%;
            }
            75% {
                background-position: 50% 80%;
            }
            100% {
                background-position: 0% 0%;
            }
        }
    </style>
</MainLayout>
