---
import { auth } from "@auth/lucia";

import MainLayout from "src/layouts/MainLayout.astro";

const handleFormSubmission = async () => {
	if (!Astro.locals.isValidFormSubmission()) return null;
	const session = await Astro.locals.auth.validate();
	if (!session) return null;
	await auth.invalidateSession(session.sessionId);
	Astro.locals.auth.setSession(null);
};

const response = await handleFormSubmission();
if (response) return response;

const session = await Astro.locals.auth.validate();
if (!session) {
	return Astro.redirect("/login", 302);
}
if (!session.user.emailVerified) {
	return Astro.redirect("/email-verification", 302);
}
---

<MainLayout>
	<h2>Your profile</h2>
	<pre class="code">{JSON.stringify(session, null, 2)}</pre>
	<form action="/api/logout" method="post">
		<input type="submit" class="button" value="Sign out" />
	</form>
</MainLayout>
