---
import { isSelected } from "./shared";
import type { Section, Page } from "./shared";

const startHerePages: Page[] = [
	["Getting-started", "/getting-started"],
	["Upgrade to v3", "/upgrade-v3"],
	["Database", "/database"]
];

const tutorialPages: Page[] = [
	["GitHub OAuth", "/tutorials/github-oauth"],
	["Username and password", "/tutorials/username-and-password"]
];

const basicsPages: Page[] = [
	["Sessions", "/basics/sessions"],
	["Users", "/basics/users"],
	["Configuration", "/basics/configuration"],
	["Troubleshooting", "/basics/help"]
];

const guidesPages: Page[] = [
	["Validate requests", "/guides/validate-requests"],
	["OAuth", "/guides/oauth"],
	["Email and password", "/guides/email-and-password"],
	["Passkeys", "/guides/passkeys"],
	["Improving sessions", "/guides/improving-sessions"]
];

const communityPages: Page[] = [
	["Discord", "https://discord.com/invite/PwrK3kpVR3"],
	["GitHub", "https://github.com/lucia-auth/lucia"],
	["Twitter", "https://twitter.com/lucia-auth"],
];

const sections: Section[] = [
	{
		title: "Start here",
		pages: startHerePages
	},
	{
		title: "Tutorials",
		pages: tutorialPages
	},
	{
		title: "Basics",
		pages: basicsPages
	},
	{
		title: "Guides",
		pages: guidesPages
	},
	{
		title: "Community",
		pages: communityPages
	}
];
---

<ul class="text-sm">
	{
		sections.map((section) => {
			return (
				<li class="mt-6">
					<p class="mb-1 text-sm font-medium">{section.title}</p>
					<ul>
						{section.pages.map((page) => {
							return (
								<li class="my-1">
									<a
										class:list={[
											"hover:underline",
											{
												"text-zinc-600": !isSelected(page[1], Astro.url.pathname),
												"text-main": isSelected(page[1], Astro.url.pathname)
											}
										]}
										href={page[1]}
									>
										{page[0] }
									</a>
								</li>
							);
						})}
					</ul>
				</li>
			);
		})
	}
</ul>
