---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import ArticleIcon from "@icons/ArticleIcon.astro";

import { getPages } from "@utils/content";

const allPages = await getPages("guidebook");
const parentPages = allPages.filter((page) => page.frameworkId === null);
---

<BaseLayout title="The Lucia Guidebook">
	<Header />
	<main class="min-h-screen px-4 pb-24 sm:px-8 md:px-16">
		<div class="mx-auto max-w-4xl">
			<div class="w-full pb-16 pt-32">
				<div class="mx-auto max-w-2xl text-center">
					<h1 class="xs:text-6xl w-full text-5xl font-bold">Guidebook</h1>
					<p class="xs:text-xl mt-4 overflow-hidden text-center text-lg">
						The Guidebook is a collection of tutorials and guides on using
						Lucia, with resources available for a wide range of frameworks and
						runtimes.
					</p>
				</div>
			</div>
			<div class="flex w-full flex-col">
				{
					parentPages
						.sort((pageA, pageB) => {
							return pageA.title.localeCompare(pageB.title);
						})
						.map(({ htmlTitle, htmlDescription, pathname }) => {
							return (
								<article class="group w-full border-b bg-white">
									<a class=" block py-4" href={pathname}>
										<h2 class="text-xl font-semibold" set:html={htmlTitle}></h2>
										<p set:html={htmlDescription}></p>
										<div class="text-main mt-0.5 flex place-items-center gap-x-0.5">
											<div class="h-5 w-5 fill-current ">
												<ArticleIcon />
											</div>
											<p class="group-hover:underline">Read</p>
										</div>
									</a>
								</article>
							);
						})
				}
			</div>
		</div>
	</main>
</BaseLayout>
