---
import MainLayout from "../layouts/MainLayout.astro";

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
---

<MainLayout>
	<h2>Your profile</h2>
	<pre class="code">{JSON.stringify(session, null, 2)}</pre>
	<form action="/api/logout" method="post">
		<input type="submit" class="button" value="Sign out" />
	</form>
</MainLayout>
