---
import "../../app.css";

import { db } from "../../lib/db";
import { sendPasswordResetLink, isValidEmail } from "../../lib/email";
import { auth } from "../../lib/lucia";
import { generatePasswordResetToken } from "../../lib/token";

let emailInput = "";
let success = false;
let errorMessage: string | null = null;

if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const email = formData.get("email");
	if (typeof email === "string") {
		emailInput = email;
	}
	if (isValidEmail(email)) {
		try {
			const storedUser = await db
				.selectFrom("user")
				.selectAll()
				.where("email", "=", email)
				.executeTakeFirst();
			if (storedUser) {
				const user = auth.transformDatabaseUser(storedUser);
				const token = await generatePasswordResetToken(user.userId);
				await sendPasswordResetLink(token);
				success = true;
			} else {
				errorMessage = "User does not exist";
				Astro.response.status = 400;
			}
		} catch (e) {
			errorMessage = "An unknown error occurred";
			Astro.response.status = 500;
		}
	} else {
		errorMessage = "Invalid email";
		Astro.response.status = 400;
	}
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Email & password auth with Lucia</title>
	</head>
	<body>
		<h1>Reset password</h1>
		<form method="post">
			<label for="email">Email</label>
			<input name="email" id="email" value={emailInput} /><br />
			<input type="submit" />
		</form>
		<p class="error">{errorMessage}</p>
		{success && <p>Your password reset link was sent to your inbox</p>}
		<a href="/login">Sign in</a>
	</body>
</html>
