---
import OAuthLayout from "@layouts/OAuthLayout.astro";
import MarkdownStyle from "@components/MarkdownStyle.astro";
import { getPage } from "@content";

const oauthPage = await getPage("oauth", "index")
---

<OAuthLayout title="OAuth integration | Lucia">
    <div class="mt-6 mb-8">
        <h1 class="text-5xl font-bold">Overview</h1>
    </div>
    <MarkdownStyle>
        <oauthPage.Content/>
    </MarkdownStyle>
</OAuthLayout>
