---
import OAuthLayout from "../../layouts/OAuthLayout.astro";
import MarkdownStyle from "../../components/MarkdownStyle.astro";
---

<OAuthLayout>
    <div class="mt-6 mb-8">
        <h1 class="text-5xl font-bold">Overview</h1>
    </div>
    <MarkdownStyle>
        <!-- <page.Content /> -->
    </MarkdownStyle>
</OAuthLayout>
