---
// pages/signup.astro
import { auth } from "../lib/lucia";
import { AuthRequest } from "@lucia-auth/astro";
import MainLayout from "../layouts/MainLayout.astro";

const authRequest = new AuthRequest(auth, Astro);
const session = await authRequest.validate();
if (session) return Astro.redirect("/", 302); // redirect to profile page if authenticated

if (Astro.request.method === "POST") {
	const form = await Astro.request.formData();
	const username = form.get("username");
	const password = form.get("password");
	// check for empty values
	if (username && password && typeof username === "string" && typeof password === "string") {
		try {
			const user = await auth.createUser("username", username, {
				password,
				attributes: {
					username
				}
			});
			const session = await auth.createSession(user.userId);
			authRequest.setSession(session); // set session cookie
			return Astro.redirect("/", 302); // redirect on successful attempt
		} catch {
			// username already in use
			Astro.response.status = 400;
		}
	} else {
		Astro.response.status = 400;
	}
}
---

<MainLayout>
	<h2>Create an account with username and password</h2>
	<form method="post">
		<label for="username">username</label><br />
		<input id="username" name="username" /><br />
		<label for="password">password</label><br />
		<input type="password" id="password" name="password" /><br />
		<input type="submit" value="Continue" class="button" />
	</form>
	<a href="/login" class="link">Sign in</a>
</MainLayout>
