---
import "../app.css";

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Username & password auth with Lucia</title>
	</head>
	<body>
		<h1>Profile</h1>
		<p>User id: {session.user.userId}</p>
		<p>Username: {session.user.username}</p>
		<form method="post" action="/logout">
			<input type="submit" value="Sign out" />
		</form>
	</body>
</html>
