---
import "../../app.css";

import { sendEmailVerificationLink } from "../../lib/email";
import { generateEmailVerificationToken } from "../../lib/token";

let success = false;
let errorMessage: string | null = null;

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login");
if (session.user.emailVerified) {
	return Astro.redirect("/");
}
if (Astro.request.method === "POST") {
	try {
		const token = await generateEmailVerificationToken(session.user.userId);
		await sendEmailVerificationLink(token);
		success = true;
	} catch {
		errorMessage = "An unknown error occurred";
		Astro.response.status = 500;
	}
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Email & password auth with Lucia</title>
	</head>
	<body>
		<h1>Email verification</h1>
		<p>Your email verification link was sent to your inbox (i.e. console).</p>
		<h2>Resend verification link</h2>
		<form method="post">
			<input type="submit" value="Resend" />
		</form>
		{success && <p>Your verification link was resent</p>}
		<p class="error">{errorMessage}</p>
	</body>
</html>
