---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Lucia</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="">
        <div class="py-4 px-4 sm:px-8 lg:px-12 fixed">
            <a class="text-2xl font-semibold" href="/">Lucia</a>
        </div>
        <div class="min-h-screen">

        </div>

        <style>
            body {
                font-family: "IBM Plex Sans", sans-serif;
            }
        </style>
    </body>
</html>
