---
import ReferenceLayout from "../../layouts/ReferenceLayout.astro";
---

<ReferenceLayout>
    <h1>Reference</h1>
	<h2><code>lucia</code></h2>
    <ul>
        <li>Main</li>
        <li>/utils</li>
        <li>/middleware</li>
        <li>/polyfill/node</li>
    </ul>
    <h2><code>@lucia-auth/oauth</code></h2>
    <h2><code>@lucia-auth/adapter-sqlite</code></h2>
</ReferenceLayout>
