<header
    class="w-full py-3 px-8 fixed top-0 border-b bg-white z-30 flex place-items-center gap-x-16"
>
    <a class="pointer-events-auto flex place-items-center" href="/">
        <img
            src="/logo.svg"
            alt="Lucia logo"
            width="100"
            height="100"
            class="h-5 w-5"
        />
        <p class="text-xl font-bold">Lucia</p>
    </a>
    <div class="flex gap-x-10 place-items-center text-sm font-medium">
        <a href="/reference" class="hover:text-main">Reference</a>
        <a href="/oauth" class="hover:text-main">OAuth</a>
    </div>
</header>
