---
import DiscordIcon from "@icons/DiscordIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import MenuIcon from "@icons/MenuIcon.astro";
import MoreIcon from "@icons/MoreIcon.astro";
---

<header class="w-full fixed top-0 bg-white z-30">
    <div
        class="flex place-items-center place-content-between gap-x-16 pt-4 pb-3 border-b px-4 sm:px-8"
    >
        <div class="gap-x-8 place-items-center text-sm flex">
            <a class="pointer-events-auto flex place-items-end" href="/">
                <img
                    src="/logo.svg"
                    alt="Lucia logo"
                    width="100"
                    height="100"
                    class="h-5 w-5"
                />
                <p class="text-lg font-semibold leading-none">Lucia</p>
            </a>
            <a
                href="/reference"
                class="hover:text-zinc-500 hidden sm:inline-block">Reference</a
            >
            <a href="/oauth" class="hover:text-zinc-500 hidden sm:inline-block"
                >OAuth</a
            >
            <a
                href="/guidebook"
                class="hover:text-zinc-500 hidden sm:inline-block">Guidebook</a
            >
        </div>
        <div class="hidden sm:flex gap-x-4 place-items-center">
            <a
                href="https://discord.gg/PwrK3kpVR3"
                class="text-zinc-500 hover:text-zinc-700 w-5 fill-current"
                href="/"
            >
                <DiscordIcon />
            </a>
            <a
                href="https://github.com/pilcrowOnPaper/lucia"
                class="text-zinc-500 hover:text-zinc-700 w-5 fill-current"
                href="/"
            >
                <GithubIcon />
            </a>
        </div>
        <div class="sm:hidden">
            <button
                class="p-1 rounded block hover:bg-indigo-50"
                id="more-button"
            >
                <div class="w-5 h-5 fill-current">
                    <MoreIcon />
                </div>
            </button>
            <div
                class="absolute right-0 mr-4 bg-white rounded border text-sm py-2 w-48 shadow hidden sm:hidden mt-1 divide-y"
                id="more-dropdown"
            >
                <div class="pb-1.5">
                    <a
                        href="/reference"
                        class="hover:bg-indigo-50 block px-4 py-1.5"
                        >Reference</a
                    >
                    <a
                        href="/oauth"
                        class="hover:bg-indigo-50 block px-4 py-1.5">OAuth</a
                    >
                    <a
                        href="/guidebook"
                        class="hover:bg-indigo-50 block px-4 py-1.5"
                        >Guidebook</a
                    >
                </div>
                <div class="pt-1.5">
                    <a
                        href="https://github.com/pilcrowOnPaper/lucia"
                        class="hover:bg-indigo-50 block px-4 py-1.5"
                        ><span
                            class="inline-block w-4 align-middle mr-1 fill-current"
                        >
                            <GithubIcon />
                        </span><span class="inline-block align-middle"
                            >Github</span
                        >
                    </a>
                    <a class="hover:bg-indigo-50 block px-4 py-1.5"
                        ><span
                            class="inline-block w-4 align-middle mr-1 fill-current"
                        >
                            <DiscordIcon />
                        </span><span class="inline-block align-middle"
                            >Discord</span
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:hidden px-4 sm:px-8 py-1.5 border-b">
        <button class="p-1 rounded block hover:bg-indigo-50" id="menu-button">
            <div class="w-5 h-5 fill-current">
                <MenuIcon />
            </div>
        </button>
    </div>
</header>
<script>
    import { onMoreToggle, toggleMore, toggleMenu } from "@utils/state";
    const menuButton = document.getElementById("menu-button");
    const moreButton = document.getElementById("more-button");
    if (menuButton instanceof HTMLButtonElement) {
        menuButton.addEventListener("click", toggleMenu);
    }
    if (moreButton instanceof HTMLButtonElement) {
        moreButton.addEventListener("click", toggleMore);
    }

    const moreDropdownDiv = document.getElementById("more-dropdown");
    if (moreDropdownDiv instanceof HTMLDivElement) {
        onMoreToggle((dropdownOpened) => {
            if (dropdownOpened) {
                moreDropdownDiv.classList.remove("hidden");
            } else {
                moreDropdownDiv.classList.add("hidden");
            }
        });
    }
</script>
