---
import { sendEmailVerificationEmail } from "@auth/email";
import { auth, emailVerificationToken } from "@auth/lucia";
import { isValidFormSubmission } from "src/forms/submission";

import MainLayout from "src/layouts/MainLayout.astro";

const authRequest = auth.handleRequest(Astro);

let errorMessage = "";

const handleFormSubmission = async (): Promise<Response | null> => {
	const validSubmission = isValidFormSubmission(Astro.request);
	if (!validSubmission) return null;
	const { user } = await authRequest.validateUser();
	if (!user || user.emailVerified) return null;
	try {
		const token = await emailVerificationToken.issue(user.userId);
		await sendEmailVerificationEmail(user.email, token.toString());
		return null;
	} catch (e) {
		console.log(e);
		errorMessage = "An unknown error occurred";
		return null;
	}
};

const response = await handleFormSubmission();
if (response) return response;

const { user } = await authRequest.validateUser();

if (!user) {
	return Astro.redirect("/login", 302);
}
if (user.emailVerified) {
	return Astro.redirect("/", 302);
}
---

<MainLayout>
	<h1>Email verification</h1>
	<p>Please check your inbox ({user.email}) for a verification email</p>
	<h2>Resend verification email</h2>
	<form method="post">
		<input type="submit" value="Resend email" />
	</form>
	{errorMessage && <p class="error">{errorMessage}</p>}
</MainLayout>
