---
import { sendEmailVerificationLink } from "@auth/email";
import { generateEmailVerificationToken } from "@auth/tokens";

import MainLayout from "src/layouts/MainLayout.astro";

let errorMessage = "";

if (Astro.locals.isValidFormSubmission()) {
	const session = await Astro.locals.auth.validate();
	if (session && !session.user.emailVerified) {
		try {
			const token = await generateEmailVerificationToken(
				session.user.userId
			);
			await sendEmailVerificationLink(token);
		} catch (e) {
			console.log(e);
			errorMessage = "An unknown error occurred";
		}
	}
}

const session = await Astro.locals.auth.validate();

if (!session) {
	return Astro.redirect("/login", 302);
}
if (session.user.emailVerified) {
	return Astro.redirect("/", 302);
}
---

<MainLayout>
	<h1>Email verification</h1>
	<p>Check your console for the verification link!</p>
	<h2>Resend verification email</h2>
	<form method="post">
		<input type="submit" value="Resend email" class="button" />
	</form>
	{errorMessage && <p class="error">{errorMessage}</p>}
</MainLayout>
