---
layout: "@layouts/DocLayout.astro"
title: "Email verification"
---

```
still working on this one!
```
