---
import BaseLayout from "@layouts/BaseLayout.astro";
import GuidebookHeader from "@components/GuidebookHeader.astro";
import ArticleIcon from "@icons/ArticleIcon.astro";
---

<BaseLayout title="The Lucia Guidebook">
    <GuidebookHeader />
    <main class="px-4 sm:px-8 md:px-16 bg-zinc-50 pb-24">
        <div class="max-w-5xl mx-auto">
            <div class="pt-32 pb-16 w-full">
                <div class="mx-auto">
                    <h1
                        class="text-4xl xs:text-6xl sm:text-7xl lg:text-8xl font-bold w-full text-center"
                    >
                        The Guidebook
                    </h1>
                    <p class="text-lg xs:text-xl font-medium text-center mt-4">
                        A collection of tutorials and resources for Lucia
                    </p>
                </div>
            </div>
            <div class="w-full flex flex-col gap-y-6">
                <article class="w-full bg-white rounded-lg group border">
                    <a class="block px-4 xs:px-6 py-4" href="/">
                        <h2 class="text-xl font-semibold">
                            Sign in with username and password
                        </h2>
                        <p class="mt-1">
                            Learn the basics of Lucia by implementing a simple
                            username and password authentication.
                        </p>
                        <div class="text-main flex place-items-center mt-1 gap-x-0.5">
                            <div class="fill-current w-5 h-5">
                                <ArticleIcon />
                            </div>
                            <p class="group-hover:underline">Read</p>
                        </div>
                    </a>
                </article>
                <article class="w-full bg-white rounded-lg group border">
                    <a class="block px-4 xs:px-6 py-4" href="/">
                        <h2 class="text-xl font-semibold">
                           Github OAuth
                        </h2>
                        <p class="mt-1">
                            Learn the basics of Lucia and the OAuth integration by implementing Github OAuth.
                        </p>
                        <div class="text-main flex place-items-center mt-1 gap-x-0.5">
                            <div class="fill-current w-5 h-5">
                                <ArticleIcon />
                            </div>
                            <p class="group-hover:underline">Read</p>
                        </div>
                    </a>
                </article>
                <article class="w-full bg-white rounded-lg group border">
                    <a class="block px-4 xs:px-6 py-4" href="/">
                        <h2 class="text-xl font-semibold">
                            Email verification links
                        </h2>
                        <p class="mt-1">
                            Learn how to verify emails with verification links.
                        </p>
                        <div class="text-main flex place-items-center mt-1 gap-x-0.5">
                            <div class="fill-current w-5 h-5">
                                <ArticleIcon />
                            </div>
                            <p class="group-hover:underline">Read</p>
                        </div>
                    </a>
                </article>
                <article class="w-full bg-white rounded-lg group border">
                    <a class="block px-4 xs:px-6 py-4" href="/">
                        <h2 class="text-xl font-semibold">
                            One time passwords for verification
                        </h2>
                        <p class="mt-1">
                            Learn how to verify emails and phone numbers with one time passwords.
                        </p>
                        <div class="text-main flex place-items-center mt-1 gap-x-0.5">
                            <div class="fill-current w-5 h-5">
                                <ArticleIcon />
                            </div>
                            <p class="group-hover:underline">Read</p>
                        </div>
                    </a>
                </article>
            </div>
        </div>
    </main>
</BaseLayout>
