---
import { auth } from "@auth/lucia";
import { isValidFormSubmission } from "src/forms/submission";

import MainLayout from "src/layouts/MainLayout.astro";

const authRequest = auth.handleRequest(Astro);
const handleFormSubmission = async () => {
	const validSubmission = isValidFormSubmission(Astro.request);
	if (!validSubmission) return null;
	const session = await authRequest.validate();
	if (!session) return null;
	await auth.invalidateSession(session.sessionId);
	authRequest.setSession(null);
};

const response = await handleFormSubmission();
if (response) return response;

const { user } = await authRequest.validateUser();
if (!user) {
	return Astro.redirect("/login", 302);
}
if (!user.emailVerified) {
	// TODO
	return Astro.redirect("/email-verification", 302);
}
---

<MainLayout>
	<h1>Welcome, user</h1>
	<p>Your email is {user.email}</p>
	<form method="post">
		<input type="submit" value="Sign out" />
	</form>
</MainLayout>
