---
import { auth } from "@auth/lucia";
import { LuciaError } from "lucia-auth";
import { emailRegex, isValidFormSubmission } from "src/forms/submission";

import MainLayout from "src/layouts/MainLayout.astro";

const authRequest = auth.handleRequest(Astro);

let errorMessage: string | null = null;
let email = "";

const handleFormSubmission = async (): Promise<Response | null> => {
	const validSubmission = isValidFormSubmission(Astro.request);
	if (!validSubmission) return null;
	const formData = await Astro.request.formData();
	email = formData.get("email")?.toString() ?? "";
	if (email === null || !emailRegex.test(email)) {
		errorMessage = "Incorrect email or password";
		return null;
	}
	const password = formData.get("password");
	if (password instanceof File || password === null) {
		errorMessage = "Incorrect email or password";
		return null;
	}
	try {
		const key = await auth.useKey("email", email, password);
		const session = await auth.createSession(key.userId);
		authRequest.setSession(session);
		return Astro.redirect("/", 302);
	} catch (e) {
		if (e instanceof LuciaError && e.message === "AUTH_INVALID_KEY_ID") {
			errorMessage = "Incorrect email or password";
			return null;
		}
		if (e instanceof LuciaError && e.message === "AUTH_INVALID_PASSWORD") {
			errorMessage = "Incorrect email or password";
			return null;
		}
		errorMessage = "An unknown error occurred";
		return null;
	}
};

const formSubmissionResponse = await handleFormSubmission();
if (formSubmissionResponse) return formSubmissionResponse;

const { user } = await authRequest.validateUser();
if (user) {
	if (!user.emailVerified) return Astro.redirect("/email-verification", 302);
	return Astro.redirect("/", 302);
}
---

<MainLayout>
	<h1>Sign in</h1>
	<form method="post">
		<label for="email">Email</label><br />
		<input id="email" name="email" value={email} /><br />
		<label for="password">Password</label>
		<input id="password" name="password" type="password" /><br />
		<input type="submit" value="Continue" />
	</form>
	{errorMessage && <p class="error">{errorMessage}</p>}
	<a href="/password-reset">Forgot password?</a>
	<a href="/signup">Create an account</a>
</MainLayout>
