---
import MainLayout from "../layouts/MainLayout.astro";
import { githubAuth, googleAuth } from "../lib/lucia";
import { auth } from "../lib/lucia";
import { AuthRequest } from "@lucia-auth/astro";
import SignOut from "../components/SignOut.svelte";

const authRequest = new AuthRequest(auth, Astro);
const { user } = await authRequest.getSessionUser();

const [githubAuthorizationUrl, githubState] = githubAuth.getAuthorizationUrl();
const [googleAuthorizationUrl, googleState] = googleAuth.getAuthorizationUrl();

if (githubState) Astro.cookies.set("githubState", githubState);
if (googleState) Astro.cookies.set("googleState", googleState);
---

<MainLayout>
	<div>
		<h1>Lucia + OAuth demo</h1>
		{
			user ? (
				<>
					<h2>Your profile</h2>
					<pre class="code">{JSON.stringify(user!, null, 2)}</pre>
					<SignOut client:load />
				</>
			) : (
				<>
					<a href={githubAuthorizationUrl} class="button">
						Sign in with Github
					</a>
					<a href={googleAuthorizationUrl} class="button">
						Sign in with Google
					</a>
				</>
			)
		}
	</div>
</MainLayout>
