---
import Head from "@components/Head.astro";
import NavMenu from "@components/NavMenu.astro";

import type { Section } from "@components/NavMenu.astro";

interface Props {
	title: string;
	sections: Section[];
}
---

<html lang="en">
	<Head title={Astro.props.title} />
	<body class="leading-relaxed text-zinc-900">
		<main class="w-full lg:px-8">
			<nav class="fixed flex max-h-screen w-full flex-col border-b bg-white pb-2 pt-3 lg:hidden">
				<header class="flex place-content-between place-items-center px-4 md:px-8">
					<a href="/" class="text-xl font-medium">Lucia</a>
					<button id="nav-button">Open</button>
				</header>
				<div class="hidden overflow-auto overscroll-contain px-4 pb-4 md:px-8" id="mobile-nav-menu">
					<NavMenu sections={Astro.props.sections} />
				</div>
			</nav>
			<div class="mx-auto w-full max-w-5xl px-4 md:px-8 lg:px-0">
				<div class="fixed hidden h-screen w-56 shrink-0 pt-8 lg:block">
					<a href="/" class="text-2xl font-medium">Lucia</a>
					<div class="h-full overflow-auto pb-24">
						<NavMenu sections={Astro.props.sections} />
					</div>
				</div>
				<div class="pb-24 pt-20 lg:ml-56 lg:pt-8 lg:pl-4">
					<slot />
				</div>
			</div>
		</main>
		<style>
			:root {
				--astro-code-color-background: rgb(246, 246, 246);
				--astro-code-token-keyword: rgb(235, 72, 105);
				--astro-code-token-string-expression: rgb(77, 102, 183);
				--astro-code-token-comment: rgb(143, 143, 143);
			}
		</style>

		<script>
			document.getElementById("nav-button")!.addEventListener("click", (e) => {
				const navMenu = document.getElementById("mobile-nav-menu")!;
				if (navMenu.classList.contains("hidden")) {
					navMenu.classList.remove("hidden");
				} else {
					navMenu.classList.add("hidden");
				}
			});
		</script>
	</body>
</html>
