---
import MarkdownArticle from "src/components/MarkdownArticle.astro";
import MainLayout from "./MainLayout.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
	title: string;
	format?: "code";
}>;
---

<MainLayout title={Astro.props.frontmatter.title}>
	{
		Astro.props.frontmatter.format === "code" ? (
			<h1 class="mb-4 break-words text-3xl font-semibold sm:text-4xl">
				<code>{Astro.props.frontmatter.title}</code>
			</h1>
		) : (
			<h1 class="mb-4 break-words text-3xl font-semibold sm:text-4xl">
				{Astro.props.frontmatter.title}
			</h1>
		)
	}

	<MarkdownArticle>
		<slot />
	</MarkdownArticle>
</MainLayout>
