---
import BaseLayout from "@components/BaseLayout.astro";
import Headings from "@components/Headings.svelte";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
    title: string;
    order: number;
}>;
const { frontmatter, headings } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <div class="xl:mr-64 xl:pr-8">
        <section id="md" class="overflow-hidden">
            <h1 class="mb-10 font-semibold text-5xl">{frontmatter.title}</h1>
            <slot />
        </section>
        <div class="mt-8">
            <a
                href={`https://github.com/pilcrowOnPaper/lucia-sveltekit/tree/main/apps/documentation/src/pages${Astro.url.pathname}.md`}
                class="text-main hover:underline cursor-pointer;"
                >Contribute to this page</a
            >
        </div>
    </div>

    <Headings headings={headings} />
</BaseLayout>
<style>
    :global(#md h2) {
        @apply font-semibold text-3xl mb-4 mt-16;
    }
    :global(#md h3) {
        @apply font-semibold text-2xl mb-4 mt-8;
    }
    :global(#md h4) {
        @apply font-semibold text-xl mb-3 mt-2;
    }
    :global(#md p) {
        @apply mb-6;
    }
    :global(#md pre) {
        @apply overflow-scroll rounded-md px-4 py-2 mb-4 text-sm;
        scrollbar-width: none;
    }
    :global(#md pre::-webkit-scrollbar) {
        display: none;
    }
    :global(#md a) {
        @apply text-main hover:underline cursor-pointer;
    }
    :global(#md ol) {
        @apply list-decimal list-inside mb-6;
    }
    :global(#md li) {
        @apply my-0.5;
    }
    :global(#md table) {
        @apply w-full text-left table-auto border-collapse mb-6;
    }
    :global(#md .table-wrapper) {
        @apply overflow-auto whitespace-nowrap w-full;
    }
    :global(#md table thead tr) {
        @apply border-b w-full;
    }
    :global(#md table tr:not(:last-of-type)) {
        @apply border-b;
    }
    :global(#md table td, th) {
        @apply py-1.5 px-1;
    }
    :global(#md table th) {
        @apply font-medium text-sm;
    }
</style>
