---
import Header from "@components/Header.astro";
import BaseLayout from "./BaseLayout.astro";
import Menu from "@components/Menu.astro";

import { getSubCollections } from "@utils/content";

const subCollections = await getSubCollections("main");

type Props = {
    title: string;
    description?: string | null;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <Header />
    <Menu subCollections={subCollections} collectionId="main" />
    <main
        class="mt-24 lg:mt-20 pb-20 px-4 sm:px-8 md:px-16 lg:ml-72 overflow-hidden"
    >
        <slot />
    </main>
</BaseLayout>
<style>
    :global(html) {
        @apply scroll-p-20;
    }
</style>
