---
import DocumentationNav from "@components/ContentNav.astro";
import Header from "@components/Header.astro";
import { getSubCollections } from "@content";
import BaseLayout from "./BaseLayout.astro";

const subCollections = await getSubCollections("reference");

type Props = {
    title: string;
    description?: string | null;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <Header />
    <div class="h-screen fixed left-0 top-0 border-r w-80 bg-white pt-16">
        <p class="ml-8 font-semibold mb-2">Reference</p>
        <a
            href="/reference"
            class:list={[
                "w-full py-1 pl-8 hover:bg-indigo-50 block text-sm mb-2",
                {
                    "bg-gray-100": Astro.url.pathname === "/reference"
                }
            ]}>Overview</a
        >
        <DocumentationNav
            subCollections={subCollections}
            collectionId="reference"
        />
    </div>
    <main class="py-20 px-16 ml-80 overflow-hidden">
        <slot />
    </main>
</BaseLayout>
