---
import Header from "@components/Header.astro";
import { getSubCollections } from "@content";
import BaseLayout from "./BaseLayout.astro";
import Menu from "@components/Menu.astro";

const subCollections = await getSubCollections("reference");

type Props = {
    title: string;
    description?: string | null;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <Header />
    <Menu
        subCollections={subCollections}
        collectionId="reference"
        title="Reference"
    >
        <a
            href="/reference"
            class:list={[
                "w-full py-1 pl-8 hover:bg-indigo-50 block text-sm mb-4",
                {
                    "bg-gray-100": Astro.url.pathname === "/reference"
                }
            ]}>Overview</a
        >
    </Menu>
    <main
    class="mt-24 lg:mt-20 pb-20 px-4 sm:px-8 md:px-16 lg:ml-72 overflow-hidden"
>
    <slot />
</main>
</BaseLayout>
<style>
    :global(html) {
        @apply scroll-p-28 lg:scroll-p-16;
    }
</style>
