---
import Close from "./icons/Close.astro";

const bannerHiddenCookie = Astro.cookies.get("banner-hidden");
const isBannerHidden = bannerHiddenCookie.boolean();
---

{
	!isBannerHidden && (
		<>
			<div
				class="bg-main fixed bottom-0 z-50 flex w-full place-content-between py-1 px-8 text-white shadow-md place-items-center"
				id="banner"
			>
				<div class="xs:flex-row flex flex-col gap-x-2">
					<p class="font-medium">Announcing Lucia 1.0!</p>
					<a
						class="hover:underline"
						href="/blog/lucia-1"
						aria-label="Read more about Lucia 1.0"
					>
						Read more
					</a>
				</div>
				<button
					class="text-indigo-100 hover:text-white w-5 h-5 fill-current"
					id="banner-close-button"
				>
					<Close/>
				</button>
			</div>
		</>
	)
}
