---
import MoreIcon from "@icons/MoreIcon.astro";
---

<header class="w-full fixed top-0 bg-white z-30">
    <div
        class="flex place-items-center place-content-between sm:place-content-start gap-x-16 pt-4 pb-3 border-b px-4 sm:px-8"
    >
      
        <div class="gap-x-8 place-items-center text-sm flex">
            <a class="pointer-events-auto flex place-items-end" href="/guidebook">
                <img
                    src="/guidebook-logo.svg"
                    alt="Lucia logo"
                    width="100"
                    height="100"
                    class="h-5 w-5"
                />
                <p class="text-lg font-medium leading-none ">Guidebook</p>
            </a>
            <a href="/" class="hover:text-zinc-500 hidden sm:inline-block">Documentation</a>
            <a href="/reference" class="hover:text-zinc-500 hidden sm:inline-block">Reference</a>
        </div>
        <div class="sm:hidden">
            <button
                class="p-1 rounded block hover:bg-indigo-50"
                id="more-button"
            >
                <div class="w-5 h-5 fill-current">
                    <MoreIcon />
                </div>
            </button>
            <div
                class="absolute right-0 mr-4 bg-white rounded border text-sm py-2 w-36 shadow hidden sm:hidden"
                id="more-dropdown"
            >
                <a href="/" class="hover:bg-indigo-50 block px-4 py-1.5"
                    >Documentation</a
                >
                <a
                    href="/reference"
                    class="hover:bg-indigo-50 block px-4 py-1.5">Reference</a
                >
            </div>
        </div>
    </div>
</header>

<script>
    import { onMoreToggle, toggleMore } from "@utils/state";

    const moreButton = document.getElementById("more-button");

    if (moreButton instanceof HTMLButtonElement) {
        moreButton.addEventListener("click", toggleMore);
    }

    const moreDropdownDiv = document.getElementById("more-dropdown");

    if (moreDropdownDiv instanceof HTMLDivElement) {
        onMoreToggle((dropdownOpened) => {
            if (dropdownOpened) {
                moreDropdownDiv.classList.remove("hidden");
            } else {
                moreDropdownDiv.classList.add("hidden");
            }
        });
    }
</script>
