---
interface Props {
	title: string;
}
---
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{Astro.props.title}</title>

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@lucia_auth" />
	<meta name="twitter:title" content={Astro.props.title} />
	<meta
		name="twitter:description"
		content="Lucia is an open source auth library that abstracts away the complexity of handling sessions."
	/>
	<!-- <meta property="og:image" content="" /> -->

	<meta property="og:site_name" content="Lucia" />
	<meta property="og:title" content={Astro.props.title} />
	<meta property="og:url" content="https://v3.lucia-auth.com" />
	<meta
		property="og:description"
		content="Lucia is an open source auth library that abstracts away the complexity of handling sessions."
	/>
</head>