---
import { MenuButton, ThemeButton } from "@components/buttons";
import Discord from "./icons/Discord.astro";
import Github from "./icons/Github.astro";
---

<div
	class="z-50 pointer-events-none fixed left-0 w-full px-4 sm:px-8 backdrop-blur-lg xl:backdrop-blur-none bg-white dark:bg-black-zinc xl:bg-transparent bg-opacity-80 dark:bg-opacity-10"
>
	<div class="py-4 flex place-content-between place-items-center">
		<a class="flex place-items-center pointer-events-auto" href="/">
			<img
				src="/logo.svg"
				alt="Lucia logo"
				width="100"
				height="100"
				class="w-6 h-6"
			/>
			<p class="text-2xl font-semibold">Lucia</p>
		</a>
		<div class="flex place-items-center pointer-events-auto divide-x">
			<a
				class="px-2 block rounded py-0.5 hover:bg-zinc-100 my-1 mr-4 hover:text-zinc-800"
				href="/reference">Reference</a
			>
			<div class="flex gap-x-4 place-items-center pl-4">
				<Discord />
				<Github />
				<ThemeButton client:load />

				<MenuButton client:load />
			</div>
		</div>
	</div>
</div>
