---
import { MenuButton, ThemeButton } from "@components/icons/buttons";
import Discord from "./icons/Discord.astro";
import Github from "./icons/Github.astro";
---

<div
	class="z-50 pointer-events-none fixed left-0 w-full px-4 sm:px-8 lg:px-12 backdrop-blur-lg xl:backdrop-blur-none bg-white dark:bg-black-zinc xl:bg-transparent bg-opacity-80 dark:bg-opacity-10"
>
	<div class="py-3 flex place-content-between place-items-center">
		<a class="flex place-items-center pointer-events-auto" href="/">
			<div class="h-6 w-6">
				<img src="/logo.svg" />
			</div>
			<p class="text-2xl font-semibold">Lucia</p>
		</a>
		<div class="flex gap-x-4 place-items-center pointer-events-auto">
			<Discord />
			<Github />
			<ThemeButton client:load />
			<MenuButton client:load />
		</div>
	</div>
</div>
