---
const sections: Section[] = [
	{
		title: "Start here",
		pages: [
			["Getting-started", "/getting-started"],
			["Database", "/database"],
			["Upgrade to v3", "/upgrade-v3"]
		]
	},
	{
		title: "Tutorials",
		pages: [
			["GitHub OAuth", "/tutorials/github-oauth"],
			["Username and password", "/tutorials/username-and-password"]
		]
	},
	{
		title: "Basics",
		pages: [
			["Sessions", "/basics/sessions"],
			["Users", "/basics/users"],
			["Configuration", "/basics/configuration"],
			["Troubleshooting", "/basics/help"]
		]
	},
	{
		title: "Guides",
		pages: [
			["Validate session cookies", "/guides/validate-session-cookies"],
			["Validate bearer tokens", "/guides/validate-bearer-tokens"],
			["OAuth", "/guides/oauth"],
			["Email and password", "/guides/email-and-password"],
			["Passkeys", "/guides/passkeys"],
			["Improving sessions", "/guides/improving-sessions"]
		]
	},
	{
		title: "API reference",
		pages: [["lucia", "/reference/main", "code"]]
	},
	{
		title: "Community",
		pages: [
			["Discord", "https://discord.com/invite/PwrK3kpVR3"],
			["GitHub", "https://github.com/lucia-auth/lucia"],
			["Twitter", "https://twitter.com/lucia-auth"]
		]
	}
];

function isSelected(href: string, currentPathname: string): boolean {
	if (removeLeadingSlash(href) === removeLeadingSlash(currentPathname)) {
		return true;
	}
	return currentPathname.startsWith(removeLeadingSlash(href) + "/");
}

function removeLeadingSlash(s: string): string {
	if (s.endsWith("/")) {
		return s.split("/").slice(0, -1).join("/");
	}
	return s;
}

interface Section {
	title: string;
	pages: Page[];
}

type Page = [title: string, href: string, format?: "code"];
---

<ul class="flex flex-col gap-y-4 text-sm">
	{
		sections.map((section) => {
			return (
				<li>
					<p class="mb-1 font-medium">{section.title}</p>
					<ul>
						{section.pages.map((page) => {
							return (
								<li class="my-1">
									<a
										class:list={[
											"hover:underline",
											{
												"text-zinc-600": !isSelected(page[1], Astro.url.pathname),
												"text-main": isSelected(page[1], Astro.url.pathname)
											}
										]}
										href={page[1]}
									>
										{page[2] === "code" ? <code>{page[0]}</code> : page[0]}
									</a>
								</li>
							);
						})}
					</ul>
				</li>
			);
		})
	}
</ul>
