---
import { getPage } from "@content";
import MainLayout from "@layouts/MainLayout.astro";
import MarkdownStyle from "@components/MarkdownStyle.astro";

const page = await getPage("main", "start-here", "getting-started");

const frameworks: {
    id: string,
    name: string
}[] = [{
    name: "Astro",
    id: "astro"
}, {
    name: "Express",
    id: "express"
}, {
    name: "Next.js",
    id: "nextjs",
}, {
    name: "Nuxt",
    id: "nuxt"
}, {
    name: "Remix",
    id: "remix"
}, {
    name: "SvelteKit",
    id: "sveltekit"
}]
---

<MainLayout title="Getting started | Lucia" description="Learn how to get started with Lucia">
    <div class="mt-6 mb-6">
        <h1 class="text-5xl font-bold" set:html={page.htmlTitle}></h1>
    </div>
    <div class="flex gap-2 mb-12 flex-wrap">
        {
            frameworks.map(
                (framework) => {
                    return (
                        <a
                            class="block rounded border px-2 py-1 text-sm hover:bg-indigo-50"
                            href={`/start-here/getting-started/${framework.id}`}
                        >
                            {framework.name}
                        </a>
                    );
                }
            )
        }
    </div>
    <MarkdownStyle>
        <page.Content />
    </MarkdownStyle>
</MainLayout>
