---
import { getPage, getPages } from "@utils/content";

import MainLayout from "@layouts/MainLayout.astro";
import MarkdownStyle from "@components/MarkdownStyle.astro";
import SelectLink from "@components/SelectLink.astro";

const pathnameSegments = ["main", "start-here", "getting-started"];
const page = await getPage(...pathnameSegments);
const nestedPages = await getPages(...pathnameSegments);
---

<MainLayout
    title="Getting started | Lucia"
    description="Learn how to get started with Lucia"
>
    <div class="mt-6 mb-6">
        <SelectLink
            title="Select framework"
            options={nestedPages.map((nestedPage) => {
                return {
                    title: nestedPage.htmlMenuTitle,
                    href: nestedPage.pathname.replace("main", "")
                };
            })}
        />
        <h1 class="text-5xl font-bold mt-1">Getting started</h1>
    </div>
    <p class="text-sm text-zinc-400 mb-2">
        <i>Guides for specific frameworks and runtimes are also available.</i>
    </p>
    <MarkdownStyle>
        <page.Content />
    </MarkdownStyle>
</MainLayout>
