---
import { getPage } from "@content";
import MainLayout from "@layouts/MainLayout.astro";
import MarkdownStyle from "@components/MarkdownStyle.astro";
import ArticleIcon from "@icons/ArticleIcon.astro";
import SelectLink from "@components/SelectLink.astro";

const page = await getPage("main", "start-here", "getting-started");

const frameworks: {
    id: string;
    name: string;
}[] = [
    {
        name: "Astro",
        id: "astro"
    },
    {
        name: "Express",
        id: "express"
    },
    {
        name: "Next.js",
        id: "nextjs"
    },
    {
        name: "Nuxt",
        id: "nuxt"
    },
    {
        name: "Remix",
        id: "remix"
    },
    {
        name: "SvelteKit",
        id: "sveltekit"
    }
];
---

<MainLayout
    title="Getting started | Lucia"
    description="Learn how to get started with Lucia"
>
    <div class="mt-6 mb-6">
        <SelectLink
            title="Select framework"
            options={frameworks.map(({ name, id }) => {
                return {
                    title: name,
                    href: `/start-here/getting-started/${id}`
                };
            })}
        />
        <h1 class="text-5xl font-bold mt-1">Getting started</h1>
    </div>
    <p class="text-sm text-zinc-400 mb-2">
        <i>Guides for specific frameworks and runtimes are also available.</i>
    </p>
    <MarkdownStyle>
        <page.Content />
    </MarkdownStyle>
</MainLayout>
