---
import { getPages } from "@utils/content";

import OAuthLayout from "@layouts/OAuthLayout.astro";
import MarkdownStyle from "@components/MarkdownStyle.astro";
import SelectLink from "@components/SelectLink.astro";

import type { InferGetStaticPropsType } from "astro";

export const getStaticPaths = async () => {
	const pages = await getPages("oauth");
	return pages.map((page) => {
		const slug = page.href === "/oauth" ? undefined : page.href.replace("/oauth/", "");
		return {
			params: {
				slug
			},
			props: {
				page
			}
		};
	});
};

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props;
---

<OAuthLayout title={page.title} description={page.description}>
	<div class="mb-8 mt-6">
		{
			page.versions.length > 0 && (
				<SelectLink
					title="Select framework"
					options={page.versions.map((version) => {
						return {
							htmlTitle: version.name,
							href: version.href
						};
					})}
				/>
			)
		}
		<h1 class="mt-1 break-words text-4xl font-semibold" set:html={page.htmlTitle} />
	</div>
	{
		page.versions.length > 0 && (
			<p class="mb-8 text-sm text-zinc-400">
				<i>Framework and runtime specific versions of this guide are also available.</i>
			</p>
		)
	}
	<MarkdownStyle>
		<page.Content />
	</MarkdownStyle>
</OAuthLayout>
