---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
	<h2>Sign in</h2>
	<a href="/login/username" class="button">Username and password</a>
	<a href="/api/oauth?provider=github" class="button">Github</a>
</MainLayout>
